<nav class="navbar navbar-light blue lighten-4">
  <span class="navbar-brand" style="color: white">CONATUS</span>
<header class="test_started " prevent-right-click style="top: 0px">
  <div class="global-nav_fixed style">
  <div class="test-test__details">
    <div class="test-timer__time ng-scope" ng-if="vm.timeLeft" style="color: white">
      <span class="test_timer_default ng-binding" style="margin-right: 5px;">Time Left</span>
      <span class="test_timer_default"> :  </span>
      <span class="test_timer_time ng-binding">00:47:33</span>
    </div>
    </div>
  </div>
  </header>
</nav>
<div class="sections" style="margin-left: 360px">
<div class="subject">
<span class="test-sections__subjects-label" >HTML/CSS</span>
</div>
<div class="subject">
  <span class="test-sections__subjects-label " >C Programming</span>
</div>
<div class="subject">
  <span class="test-sections__subjects-label " >JAVA</span>
</div>
<div class="subject">
  <span class="test-sections__subjects-label" >APTITUDE</span>
</div>
<div class="subject">
  <span class="test-sections__subjects-label " >ALGORITHM</span>
</div>
</div>

<div class="test-grid__left" >
  <ul class="list-group " >
    <span class="ng-binding" style="font-size: 20px" >Question Overview:</span>
    <div class="test-grid__nav" style="margin-top:520px">
    <button class="test-grid__nav-btn ng-binding">Instructions</button>
      <button class="test-grid__nav-btn ng-binding">Questions Attempted</button>
    <button class="test-grid__nav-btn ng-binding">Finish</button>
    </div>
  </ul>





