nav{
  background-color: steelblue;
}
.subject{
  font-weight: 300;
  background-color: transparent;
  margin-left: 15px;
  margin-top: 20px;
  border: 3px solid rgba(37,181,233,0.3);
  border-radius: 2px;
  display: inline-block;
  padding: 10px;
  color: black;
  cursor: pointer;
  font-size: 16px;
  width:160px;
  text-align: center;
}
.subject:hover{
  background-color: #29BEF3;
  color:white;
}
.test-grid__left {
  position: fixed;
  left: 0px;
  width: 350px;
  float: left;
  height: 100%;
  top: 57px;
  background: #f5f5f5;
  z-index: 50;
}
.list-group{
  text-align: center;
  margin-bottom: 0px;
}
test-grid button {
  outline: none;
}
.test-grid__nav-btn {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 7px;
  margin: 0px 3px 0px 3px;
  margin-bottom: 0px;
  border-radius: 2px;
  width: 96%;
  font-size: 16px;
}
.test-grid__nav-btn:hover{
  background-color: steelblue;
  color: white;
}



