<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                <div id="userdata">
                    <div class="form-group">
                        <label for="Student Name">Student Name</label>
                        <input type="text" id="Student Name" class="form-control" ngModel name="Student Name">
                    </div>
                    <div class="form-group">
                        <label for="Branch">Branch</label>
                        <select id="Branch" class="form-control" NgModel name="Branch">
                            <option value="Branch">--Branch--</option>
                            <option value="CS">CS</option>
                            <option value="IT">IT</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Student Number">Student Number</label>
                        <input type="text" id="Student Number" class="form-control" ngModel name="Student Number">
                    </div>
                    <div class="form-group">
                        <label for="Roll Number">University Roll Number</label>
                        <input type="text" id="Roll Number" class="form-control" ngModel name="Roll Number">
                    </div>
                    <div class="form-group">
                        <label for="Mob Number">Mobile Number</label>
                        <input type="tel" id="Mob Number" class="form-control" ngModel name="Mob Number">
                    </div>
                    <div class="form-group">
                        <label for="Email">E'mail</label>
                        <input type="email" id="Email" class="form-control" ngModel name="Email">
                    </div>
                </div><br>
                <div class="form-group">
                    <select id="residence" class="form-control" ngModel name="Residence">
                        <option value="Hostler">Hostler</option>
                        <option value="Day Scholar">Day Scholar</option>
                    </select>
                </div><br>
                <button class="btn btn-success" type="submit" style="margin-left: 270px; width: 200px">Register</button>
            </form>
        </div>
    </div>
</div>
