<div class="container">
  <form [formGroup]="form" (ngSubmit)="form.valid && submit()">
    <div class="form-container">
      <div class="register-heading">
        <h1>Register</h1>
      </div>
      <div class="student-data">
        <mat-form-field>
          <input type="text" matInput placeholder="Name" formControlName="name" name="name">
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Branch" formControlName="branch" name="branch">
            <mat-option *ngFor="let branch of branches" [value]="branch">
              {{branch}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input type="number" matInput placeholder="Student Number" formControlName="studentNumber"
                 name="stno">
        </mat-form-field>
        <mat-form-field>
          <input type="number" matInput placeholder="Roll Number" formControlName="rollNumber"
                 name="unirono">
        </mat-form-field>
        <mat-form-field>
          <input type="number" matInput placeholder="Mobile Number" formControlName="mobileNumber"
                 name="mob">
        </mat-form-field>
        <mat-form-field>
          <input type="text" matInput placeholder="Email" formControlName="email" name="email">
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Hostler/DayScholar" formControlName="hostler" name="residence">
            <mat-option *ngFor="let status of address" [value]="status">
              {{status}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="submit-button">
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </div>
    </div>
  </form>
</div>
