<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
<mat-toolbar>
  Conatus Recruitment Portal
</mat-toolbar>
<div class="container-fluid">
  <form [formGroup]="form" (ngSubmit)="form.valid && submit()">
    <div class="form-container">
      <div class="register-heading">
        <h2>Register</h2>
      </div>
      <div class="student-data">
        <mat-form-field>
          <input type="text" matInput placeholder="Name" formControlName="name">
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Branch" formControlName="branch" name="branch">
            <mat-option *ngFor="let branch of branches" [value]="branch">
              {{branch}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input type="number" matInput placeholder="Student Number" formControlName="student_number">
        </mat-form-field>
        <mat-form-field>
          <input type="number" matInput placeholder="Roll Number" formControlName="roll_number">
        </mat-form-field>
        <mat-form-field>
          <input type="number" matInput placeholder="Mobile Number" formControlName="phone">
        </mat-form-field>
        <mat-form-field>
          <input type="text" matInput placeholder="Email" formControlName="email">
        </mat-form-field>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" formControlName="password">
        </mat-form-field>
      </div>
      <div class="submit-button">
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </div>
    </div>
  </form>
</div>
<div class="footer">
  <p>Powered by Team Conatus</p>
</div>
