/*NAVBAR*/

nav{
  background-color: #192A56;
  position: fixed;
  width: 100%;
  top:0;
  z-index: 100;
}

.section {
  color: white;
  background: #6A89CC;
  border: 1px solid white;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}
