<div class="container">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-expand navbar-dark bg-light">
        <div class="navbar-nav">
          <p class="message">
            You are about to start the test
          </p>
        </div>
      </nav>
      <div class="instruction">
        <ol start="1" type="1">
          <li>
            Total duration of this test is
            <b>60 minutes</b>
            .
          </li>
          <li>
            There will be
            <b>40 Single Option Correct Multiple Choice Questions And 2 Algorithms</b>
            .
          </li>
          <li>
            There are
            <b>5 sections</b>
            in the question paper consisting of
            <b>10 questions of HTML/CSS</b>
            ,
            <b>10 questions of C</b>
            ,
            <b>10 questions of Java</b>
            ,
            <b>10 questions of Aptitude</b>
            and
            <b>2 questions of Algorithms</b>
            which are
            <b>compulsory</b>
            .
          </li>
          <li>
            Each question is alloted
            <b>3</b>
            marks for the correct answer and
            <b>1 mark</b>
            will be deducted for the incorrect answer.
          </li>
          <li>
            Candidates will be awarded
            <b>15 marks</b>
            for the correct Alogorithm.
          </li>
        </ol>
      </div>
      <div class="start">
        <button class="submit" type="submit" [routerLink] = "['/dashboard']">Click Here To Begin</button>
      </div>
    </div>
  </div>
</div>
