<mat-toolbar>
  Conatus Recruitment Portal
</mat-toolbar>
<div class="container">
  <div class="buttons"></div>
       <div class="login-button">
         <button mat-raised-button color="primary" type="submit" [routerLink]="['/login']">Log In</button>
       </div>
         <div class="register-button">
            <button mat-raised-button color="primary" type="submit" [routerLink]="['/register']">Register</button>
         </div>
       </div>
<div class="footer">
  <p>
    Powered by Team Conatus
  </p>
</div>
