nav{
  background-color: #4682b4;
  position: fixed;
  width: 100%;
  top:0;
}

/*.subject{*/
  /*font-weight: 300;*/
  /*background-color: transparent;*/
  /*margin-left: 15px;*/
  /*margin-top: 20px;*/
  /*border: 3px solid rgba(37,181,233,0.3);*/
  /*border-radius: 2px;*/
  /*display: inline-block;*/
  /*padding: 10px;*/
  /*color: #000000;*/
  /*cursor: pointer;*/
  /*font-size: 16px;*/
  /*width:160px;*/
  /*text-align: center;*/
/*}*/
/*.subject:hover{*/
  /*background-color: #29BEF3;*/
  /*color:#ffffff;*/
/*}*/





