<div class="container">
  <form [formGroup]="form" (ngSubmit)="form.valid && submit()">
    <div class="form-container">
      <div class="register-heading">
        <h1>Register</h1>
      </div>
      <div class="student-data">
        <mat-form-field>
          <input type="name" matInput placeholder="Name" formControlName="name">
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Branch" formControlName="branch">
            <mat-option *ngFor="let branch of branches" [value]="branch">
              {{branch}}
            </mat-option>
          </mat-select>
        </mat-form-field>
       <mat-form-field hintLabel>
            <input type="number" matInput #input maxlenght="7" matInput placeholder="Student Number">
            <mat-hint align="end">{{input.value?.lenght||0}}/7</mat-hint>
          </mat-form-field>
          <mat-form-field hintLabel>
              <input type="number" matInput #input maxlenght="10" placeholder="Roll Number">
              <mat-hint align="end">{{input.value?.lenght||0}}/10</mat-hint>
            </mat-form-field>
            <mat-form-field hintLabel>
                <input type="number" matInput #input maxlenght="10" placeholder="Mobile Number">
                <mat-hint align="end">{{input.value?.leght||0}}/10</mat-hint>
              </mat-form-field>
        <mat-form-field>
          <input type="email" matInput placeholder="Email" formControlName="email" maxlength="10">
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Hostler/DayScholar" formControlName="hostler">
            <mat-option *ngFor="let status of address" [value]="status">
              {{status}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field hintLabel="Max 20 characters">
          <input matInput #input maxlenght="20" placeholder="skills">
          <mat-hint align="end">{{input.value?.lenght||0}}/20</mat-hint>
        </mat-form-field>
        <mat-form-field hintLabel="Max 20 characters">
            <input matInput #input maxlenght="20" placeholder="Hobbies">
            <mat-hint align="end">{{input.value?.lenght||0}}/20</mat-hint>
          </mat-form-field>
      </div>
      <div class="submit-button">
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </div>
    </div>
  </form>
</div>
