<div class="test-panel">
  <h3><strong>Question No. 1</strong></h3>
  <hr>
  <div class="questions">
    <p>What is the capital of India?</p>
    <input type="radio" name="answer1"> Delhi<br>
    <input type="radio" name="answer1"> Lucknow<br>
    <input type="radio" name="answer1"> Uttar Pradesh<br>
    <input type="radio" name="answer1"> Jammu
  </div>
  <hr>
  <br>
  <h3><strong>Question No. 2</strong></h3>
  <hr>
  <div class="questions">
    <p>What is the capital of India?</p>
    <input type="radio" name="answer2"> Delhi<br>
    <input type="radio" name="answer2"> Lucknow<br>
    <input type="radio" name="answer2"> Uttar Pradesh<br>
    <input type="radio" name="answer2"> Jammu
  </div>
  <hr>
  <br>
  <h3><strong>Question No. 3</strong></h3>
  <hr>
  <div class="questions">
    <p>What is the capital of India?</p>
    <input type="radio" name="answer3"> Delhi<br>
    <input type="radio" name="answer3"> Lucknow<br>
    <input type="radio" name="answer3"> Uttar Pradesh<br>
    <input type="radio" name="answer3"> Jammu
  </div>
  <hr>
  <br>
  <h3><strong>Question No. 4</strong></h3>
  <hr>
  <div class="questions">
    <p>What is the capital of India?</p>
    <input type="radio" name="answer4"> Delhi<br>
    <input type="radio" name="answer4"> Lucknow<br>
    <input type="radio" name="answer4"> Uttar Pradesh<br>
    <input type="radio" name="answer4"> Jammu
  </div>
  <hr>
  <br>
  <h3><strong>Question No. 5</strong></h3>
  <hr>
  <div class="questions">
    <p>What is the capital of India?</p>
    <input type="radio" name="answer5"> Delhi<br>
    <input type="radio" name="answer5"> Lucknow<br>
    <input type="radio" name="answer5"> Uttar Pradesh<br>
    <input type="radio" name="answer5"> Jammu
  </div>
  <hr>
  <br>
  <h3><strong>Question No. 6</strong></h3>
  <hr>
  <div class="questions">
    <p>What is the capital of India?</p>
    <input type="radio" name="answer6"> Delhi<br>
    <input type="radio" name="answer6"> Lucknow<br>
    <input type="radio" name="answer6"> Uttar Pradesh<br>
    <input type="radio" name="answer6"> Jammu
  </div>
  <hr>
  <br>
  <h3><strong>Question No. 7</strong></h3>
  <hr>
  <div class="questions">
    <p>What is the capital of India?</p>
    <input type="radio" name="answer7"> Delhi<br>
    <input type="radio" name="answer7"> Lucknow<br>
    <input type="radio" name="answer7"> Uttar Pradesh<br>
    <input type="radio" name="answer7"> Jammu
  </div>
  <hr>
  <br>
  <h3><strong>Question No. 8</strong></h3>
  <hr>
  <div class="questions">
    <p>What is the capital of India?</p>
    <input type="radio" name="answer8"> Delhi<br>
    <input type="radio" name="answer8"> Lucknow<br>
    <input type="radio" name="answer8"> Uttar Pradesh<br>
    <input type="radio" name="answer8"> Jammu
  </div>
  <hr>
  <br>
  <h3><strong>Question No. 9</strong></h3>
  <hr>
  <div class="questions">
    <p>What is the capital of India?</p>
    <input type="radio" name="answer9"> Delhi<br>
    <input type="radio" name="answer9"> Lucknow<br>
    <input type="radio" name="answer9"> Uttar Pradesh<br>
    <input type="radio" name="answer9"> Jammu
  </div>
  <hr>
  <br>
  <h3><strong>Question No. 10</strong></h3>
  <hr>
  <div class="questions">
    <p>What is the capital of India?</p>
    <input type="radio" name="answer10"> Delhi<br>
    <input type="radio" name="answer10"> Lucknow<br>
    <input type="radio" name="answer10"> Uttar Pradesh<br>
    <input type="radio" name="answer10"> Jammu
  </div>
  <hr>
  <br>
  <h3><strong>Question No. 11</strong></h3>
  <hr>
  <div class="questions">
    <p>What is the capital of India?</p>
    <input type="radio" name="answer11"> Delhi<br>
    <input type="radio" name="answer11"> Lucknow<br>
    <input type="radio" name="answer11"> Uttar Pradesh<br>
    <input type="radio" name="answer11"> Jammu
  </div>
  <hr>
  <br>
  <h3><strong>Question No. 12</strong></h3>
  <hr>
  <div class="questions">
    <p>What is the capital of India?</p>
    <input type="radio" name="answer12"> Delhi<br>
    <input type="radio" name="answer12"> Lucknow<br>
    <input type="radio" name="answer12"> Uttar Pradesh<br>
    <input type="radio" name="answer12"> Jammu
  </div>
  <hr>
  <br>
  <h3><strong>Question No. 13</strong></h3>
  <hr>
  <div class="questions">
    <p>What is the capital of India?</p>
    <input type="radio" name="answer13"> Delhi<br>
    <input type="radio" name="answer13"> Lucknow<br>
    <input type="radio" name="answer13"> Uttar Pradesh<br>
    <input type="radio" name="answer13"> Jammu
  </div>
  <hr>
  <br>
  <h3><strong>Question No. 14</strong></h3>
  <hr>
  <div class="questions">
    <p>What is the capital of India?</p>
    <input type="radio" name="answer14"> Delhi<br>
    <input type="radio" name="answer14"> Lucknow<br>
    <input type="radio" name="answer14"> Uttar Pradesh<br>
    <input type="radio" name="answer14"> Jammu
  </div>
  <hr>
  <br>
  <h3><strong>Question No. 15</strong></h3>
  <hr>
  <div class="questions">
    <p>What is the capital of India?</p>
    <input type="radio" name="answer15"> Delhi<br>
    <input type="radio" name="answer15"> Lucknow<br>
    <input type="radio" name="answer15"> Uttar Pradesh<br>
    <input type="radio" name="answer15"> Jammu
  </div>
  <hr>
</div>
