<div class="test-grid__left">
  <h4 class="heading">Question Overview:</h4>
  <div class="question-number">
    <div class="bubble-container">
      <div class="bubble" *ngFor="let answer of answers; let i = index">
        <button [ngClass]="{'answered':answer.answer}">{{i+1}}</button>
      </div>
    </div>
  </div>

  <div class="test-grid__nav">
    <button class="test-grid__nav-btn ng-binding">Instructions</button>
    <button class="test-grid__nav-btn ng-binding">Finish</button>
  </div>
</div>
